<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="inc/layout">
<div layout:fragment="content">
    <main>
        <form class="detail-container create-container create-form" enctype="multipart/form-data">
            <div class="detail-container-title">레시피 등록</div>

            <div class="detail-intro">

                <div class="detail-input-box d-flex-md">
                    <label th:for="recipeForm.title" class="detail-title">레시피 제목</label>
                    <input th:field="*{recipeForm.title}" type="text" name="" id="title" placeholder="내용을 입력해주세요."
                        th:class="${#fields.hasErrors('recipeForm.title')}? 'form-control fieldError' : 'form-control'"
                        required>
                    <p th:if="${#fields.hasErrors('recipeForm.title')}" th:errors="*{recipeForm.title}">Incorrect date
                    </p>
                </div>
                <div class="category-box info">
                    <label for="select" class="detail-title">카테고리</label>
                    <select name="" id="select" class="form-control" th:field="*{categories}" required>
                        <option value="">카테고리 선택</option>
                        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">
                            한식
                        </option>
                    </select>
                </div>

                <div class="img-box cooking-box">
                    <label class="detail-title" for="image-file">메인 이미지</label>
                    <input type="file" name="imageFile" id="image-file" accept="image/*" required>
                    <img class="d-none food-detail-img" src="" alt="요리사진">
                </div>
                <div class="info explanation input-content">
                    <span class="detail-title">요리 설명</span>
                    <textarea th:field="*{recipeForm.introduction}" name="" id="introduction" cols="30" rows="7"
                        placeholder="내용을 입력해주세요."
                        th:class="${#fields.hasErrors('recipeForm.introduction')}? 'form-control fieldError' : 'form-control'"
                        required></textarea>
                    <p th:if="${#fields.hasErrors('recipeForm.introduction')}" th:errors="*{recipeForm.introduction}">
                        Incorrect date</p>
                </div>
                <div class="info">
                    <div class="serving-info">
                        <label th:for="recipeForm.servings" class="detail-title" for="serving-input">인분</label>
                        <input th:field="*{recipeForm.servings}" type="number" name="" id="servings" min="1" max="10"
                            value="1" inputmode="numeric"
                            th:class="${#fields.hasErrors('recipeForm.servings')}? 'form-control fieldError' : 'form-control'"
                            required onkeypress="preventText(this)">
                        <p th:if="${#fields.hasErrors('recipeForm.servings')}" th:errors="*{recipeForm.servings}">
                            Incorrect
                            date</p>
                    </div>
                    <div class="cooking-info">
                        <label th:for="recipeForm.cookingTime" class="detail-title" for="cooking-time">조리시간</label>
                        <input th:field="*{recipeForm.cookingTime}" type="number" name="" id="cooking-time" min="1"
                            max="5" value="1" inputmode="numeric"
                            th:class="${#fields.hasErrors('recipeForm.cookingTime')}? 'form-control fieldError' : 'form-control'"
                            required onkeypress="preventText(this)">
                        <p th:if="${#fields.hasErrors('recipeForm.cookingTime')}" th:errors="*{recipeForm.cookingTime}">
                            Incorrect date</p>
                    </div>
                </div>
            </div>
            <div class="info explanation input-content">
                <span class="detail-title">재료</span>
                <textarea th:field="*{recipeForm.ingredients}" name="" id="ingredients" cols="30" rows="5"
                    placeholder="내용을 입력해주세요."
                    th:class="${#fields.hasErrors('recipeForm.ingredients')}? 'form-control fieldError' : 'form-control'"
                    required></textarea>
                <p th:if="${#fields.hasErrors('recipeForm.ingredients')}" th:errors="*{recipeForm.ingredients}">
                    Incorrect
                    date</p>
            </div>
            <section class="cooking-order">
                <h1 class="detail-sub-title">조리순서</h1>
                <div class="info explanation input-content order-box cooking-box">

                    <div class="">
                        <span class="order-num">1.</span>
                        <label class="detail-title" for="image-file"></label>
                        <input type="file" id="image-file" th:name="imageFile" accept="image/*" required>
                    </div>
                    <img class="d-none food-detail-img" src="" name="imageFile" id="imageFile" alt="요리사진">

                    <textarea class="content" name="content" id="content" cols="30" rows="5" placeholder="내용을 입력해주세요."
                        required></textarea>
                </div>
            </section>
            <div class="add-form">
                <span class="btn btn-strong plus">➕</span>
                <span class="btn btn-strong minus">➖</span>
            </div>
            <div class="edit-box">
                <button class="btn btn-default btn-basic create" type="submit" value="등록">등록</button>
            </div>
        </form>
    </main>
    <script th:src="@{/script/set-data.js}"></script>
    <script th:src="@{/script/alert.js}"></script>
    <script th:inline="javascript">
        const form = document.querySelector(".create-form");
        const plusBtn = form.querySelector(".plus");
        const minusBtn = form.querySelector(".minus");
        const cookingOrder = form.querySelector(".cooking-order");
        let orderBoxList;

        /* <![CDATA[ */


        const html =
            `<div class="info explanation input-content order-box cooking-box">
            <div class="">
                <span class="order-num">1.</span>
                <label class="detail-title" for="image-file"></label>
                <input type="file" id="image-file" th:name="imageFile" required>
            </div>
            <img class="d-none food-detail-img" src="" name="imageFile" id="imageFile" accept="image/*" alt="요리사진">

            <!-- <textarea th:field="*{fieldForm.content}" class="content" name="content" id="content" cols="30" rows="5" -->
            <textarea class="content" name="content" id="content" cols="30" rows="5"
                placeholder="내용을 입력해주세요." required></textarea>
        </div>`;

        plusBtn.addEventListener("click", () => {
            let textarea = cookingOrder.lastElementChild.querySelector("textarea");

            if (textarea.value == null || textarea.value == "" || textarea.value == " ")
                return;

            cookingOrder.insertAdjacentHTML("beforeend", html);
            addNum();
        });

        minusBtn.addEventListener("click", () => {
            cookingOrder.lastElementChild.remove();
        });


        function addNum() {
            orderBoxList = cookingOrder.querySelectorAll(".order-box");
            let orderIdx = orderBoxList.length;
            console.log(orderIdx);
            let orderBox = cookingOrder.lastElementChild;
            let orderNum = orderBox.querySelector(".order-num");
            orderNum.innerText = orderIdx + ".";
        }


        orderBoxList = cookingOrder.querySelectorAll(".cooking-box");

        cookingOrder.addEventListener("click", (e) => {
            for (let i = 0; i < orderBoxList.length; i++) {
                const image = orderBoxList[i].querySelector("img");
                const fileInput = orderBoxList[i].querySelector("input[type=file]");
                let cloneArr;

                showImg(image, fileInput, cloneArr, e);
            }
        });

        const imgBox = document.querySelector(".img-box");

        imgBox.addEventListener("click", (e) => {

            const image = imgBox.querySelector("img");
            const fileInput = imgBox.querySelector("input[type=file]");
            let cloneArr;

            showImg(image, fileInput, cloneArr, e);
        });

        function showImg(image, fileInput, cloneArr, e) {
            if (e.target == fileInput) {

                if (image.src != "")
                    init();


                // 이미지 변경
                fileInput.onchange = (e) => {

                    let file = fileInput.files[0];  // files: File 객체의 컬렉션

                    if (file) {
                        // FileReader 객체 생성
                        var reader = new FileReader();

                        reader.onload = (e) => {
                            image.src = e.target.result;
                            image.classList.remove("d-none");
                        }
                        // reader가 이미지 읽도록 하기
                        reader.readAsDataURL(file);
                    } else {

                        image.classList.add("d-none");

                    }
                };
            }
            function init() {
                cloneArr = [fileInput.cloneNode(true)];
            }
        }

        const submitBtn = document.querySelector(".create");
        submitBtn.addEventListener("click", (e) => {


            const request = new XMLHttpRequest();
            let url = "/recipes";
            let file = imgBox.querySelector("#image-file").files[0];
            const title = form.querySelector("#title").value;
            const category = form.querySelector("select").value;
            const intro = form.querySelector("#introduction").value;
            const serving = form.querySelector("#servings").value;
            const cookingTime = form.querySelector("#cooking-time").value;
            const ingredients = form.querySelector("#ingredients").value;
            let orderBoxes = form.querySelectorAll(".order-box");

            if (file == null || title == null || category == null || intro == null || serving == null || cookingTime == null || ingredients == null)
                return;


            let formData = new FormData();
            let recipeForm = {
                title: title,
                categoryId: category,
                introduction: intro,
                servings: serving,
                cookingTime: cookingTime,
                ingredients: ingredients
            };

            // 레시피 메인 이미지
            formData.append("imageFile", file);

            // 레시피 속성
            let data = JSON.stringify(recipeForm);
            formData.append("recipeForm", new Blob([data], { type: "application/json" }));

            //-------------- 레시피 필드 ------------------------
            let multipartFiles = [];
            let fieldForms = [];

            for (let i = 0; i < orderBoxes.length; i++) {
                // 레시피 필드 이미지
                let fieldFile = orderBoxes[i].querySelector("#image-file").files[0];
                // 레시피 필드 내용
                let content = orderBoxes[i].querySelector(".content").value;

                fieldForms.push(content);

                if (fieldFile)
                    formData.append("multipartFiles", fieldFile);

                if (fieldFile == null || content == null || content == "")
                    return;
            }

            e.preventDefault();


            let fieldData = JSON.stringify(fieldForms);
            formData.append("fieldForms", new Blob([fieldData], { type: "application/json" }));

            request.onreadystatechange = () => {
                if (request.readyState < 4)
                    return;
                let results = request.response;

                setMessageAndUrl(results.msg, results.url);
            }

            methodPostMp(request, url, formData);
        });


        // 타이핑 막기
        function preventText(e) {
            e.preventDefault();

        }

        window.onload = () => {

            let message = [[${ msg }]];
            let url = [[${ url }]];
            if (message == null)
                return;

            alert(message);
            location.href = url;
        }
     /* ]]> */
    </script>
</div>

</html>