<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="inc/layout">
<main layout:fragment="content" class="detail-container create-container">
    <section class="list-container">
        <header class="header-search">
            <h1>등록한 레시피</h1>
            <form class="search-box" th:action="@{/recipes/list/created(categoryName=${categoryName})}" method="GET">
                <div class="input-search d-flex-md">
                    <input class="icon icon-md icon-search" type="submit">
                    <label for="search" class="d-none">
                        검색
                    </label>
                    <input type="hidden" name="categoryName" th:value="${categoryName}">
                    <input type="text" name="title" th:value="${title}" placeholder="검색할 스터디명을 입력하세요.">
                </div>
            </form>
        </header>


        <nav class="nav-category">
            <ul>
                <li class="nav-selected">
                    <a th:class="${categoryName} == '' ? 'btn btn-tag selected' : 'btn btn-tag'"
                        th:href="@{/recipes/list/created(categoryName='', title=${title})}">전체</a>
                </li>
                <li th:each="category : ${categories}" th:value="${category.id}">
                    <a th:text="${category.name}" class="btn btn-tag"
                        th:class="${categoryName} == ${category.name} ? 'btn btn-tag selected' : 'btn btn-tag'"
                        th:href="@{/recipes/list/created(categoryName=${category.name}, title=${title})}">한식</a>
                </li>
            </ul>
        </nav>


        <div class="intro">
            <span>총 <span class="text-strong" th:text="${list.totalElements}">8</span>개의 레시피가 있습니다.</span>
        </div>

        <section class="list-box">
            <h1 class="d-none">레시피 목록</h1>
            <section class="list-element" th:each="recipe : ${list}">
                <a th:href="@{/recipes/{param1}?redirectURL=/recipes/list/created(param1=${recipe.recipeId})}">
                    <img class="image-view-round food-list-img"
                        th:src="|/recipes/images/${recipe.img.getStoreFileName()}|" alt="목록 이미지">
                </a>
                <h1 th:text="${recipe.title}">레시피 제목</h1>
            </section>
        </section>

        <div class="paging-box"
            th:with="start=${(list.number/maxPage)*maxPage +1}, end=(${(list.totalPages == 0) ? 1 : (start + (maxPage -1) < list.totalPages ? start + (maxPage - 1) : list.totalPages)})">
            <a th:if="${start > 1}" th:href="@{created(page=${start - maxPage - 1}, categoryName=${categoryName}, title=${title})}"
                class="btn btn-tag btn-icon icon-arrow-left">왼쪽 버튼</a>
            <a th:each="page: ${#numbers.sequence(start, end)}" th:href="@{created(page=${page-1}, categoryName=${categoryName}, title=${title})}" th:text="${page}"
                th:class="${page == list.number + 1} ? 'btn btn-default selected' : 'btn btn-default'"
                class="btn btn-default selected">1</a>
            <a th:if="${end < list.totalPages}" th:href="@{created(page=${list.totalPages-1}, categoryName=${categoryName}, title=${title})}"
                class="btn btn-tag btn-icon icon-arrow-right">오른쪽 버튼</a>
        </div>
    </section>
</main>
<script th:inline="javascript" layout:fragment="script">
    /* <![CDATA[ */
    window.onload = () => {

        let message = [[${ msg }]];
        let url = [[${ url }]];
        if (message == null)
            return;
        alert(message);

        if (url == null)
            return;
        location.href = url;
    }
    /* ]]> */
</script>

</html>