<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="inc/layout">
<main layout:fragment="content" class="detail-container create-container">
    <section class="list-container">
        <header class="header-search">
            <h1 class="d-none">레시피 목록</h1>
            <form class="search-box">
                <div class="input-search d-flex-md">
                    <input class="icon icon-md icon-search" type="submit">
                    <label for="search" class="d-none">
                        검색
                    </label>
                    <input type="text" id="search">
                </div>
                <label class="d-none" for="select">정렬 선택</label>
                <!-- <select id="select" class="form-control">
                    <option value="">조회 선택</option>
                    <option>최신순</option>
                    <option>리뷰순</option>
                    <option>좋아요 순</option>
                </select> -->
            </form>
        </header>


        <nav class="nav-category">
            <ul>
                <li class="nav-selected">
                    <a class="btn btn-tag" href="/recipes/list">전체</a>
                </li>
                <li>
                    <a class="btn btn-tag" href="">한식</a>
                </li>
                <li>
                    <a class="btn btn-tag" href="">양식</a>
                </li>
                <li>
                    <a class="btn btn-tag" href="">일식</a>
                </li>
                <li>
                    <a class="btn btn-tag" href="">중식</a>
                </li>
                <li>
                    <a class="btn btn-tag" href="">디저트</a>
                </li>
            </ul>
        </nav>


        <div class="intro">
            <span>총 <span class="text-strong">8</span>개의 맛있는 레시피가 있습니다.</span>
        </div>

        <section class="list-box">
            <h1 class="d-none">레시피 목록</h1>
            <section class="list-element">
                <a href="/menu/detail?id=13">
                    <img class="image-view-round food-list-img"
                        src="https://images.unsplash.com/photo-1515442261605-65987783cb6a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                        alt="">
                </a>
                <h1>레시피 제목</h1>
            </section>
            <section class="list-element">
                <a href="/menu/detail?id=13">
                    <img class="image-view-round food-list-img"
                        src="https://images.unsplash.com/photo-1515442261605-65987783cb6a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                        alt="">
                </a>
                <h1>레시피 제목</h1>
            </section>
            <section class="list-element">
                <a href="/menu/detail?id=13">
                    <img class="image-view-round food-list-img"
                        src="https://images.unsplash.com/photo-1515442261605-65987783cb6a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                        alt="">
                </a>
                <h1>레시피 제목</h1>
            </section>
            <section class="list-element">
                <a href="/menu/detail?id=13">
                    <img class="image-view-round food-list-img"
                        src="https://images.unsplash.com/photo-1515442261605-65987783cb6a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                        alt="">
                </a>
                <h1>레시피 제목</h1>
            </section>
            <section class="list-element">
                <a href="/menu/detail?id=13">
                    <img class="image-view-round food-list-img"
                        src="https://images.unsplash.com/photo-1515442261605-65987783cb6a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                        alt="">
                </a>
                <h1>레시피 제목</h1>
            </section>
            <section class="list-element">
                <a href="/menu/detail?id=13">
                    <img class="image-view-round food-list-img"
                        src="https://images.unsplash.com/photo-1515442261605-65987783cb6a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                        alt="">
                </a>
                <h1>레시피 제목</h1>
            </section>
            <section class="list-element">
                <a href="/menu/detail?id=13">
                    <img class="image-view-round food-list-img"
                        src="https://images.unsplash.com/photo-1515442261605-65987783cb6a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                        alt="">
                </a>
                <h1>레시피 제목</h1>
            </section>
        </section>

        <div class="paging-box">
            <a href="" class="btn btn-tag btn-icon icon-arrow-left">왼쪽 버튼</a>
            <a href="" class="btn btn-default selected">1</a>
            <a href="" class="btn btn-default">2</a>
            <a href="" class="btn btn-default">3</a>
            <a href="" class="btn btn-default">4</a>
            <a href="" class="btn btn-tag btn-icon icon-arrow-right">오른쪽 버튼</a>
        </div>
    </section>
</main>

</html>