<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="inc/layout">
<main layout:fragment="content" class="detail-container create-container">
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>요리실</th>
                    <th>예약일</th>
                    <th>시간</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="reservation : ${reservations}">
                    <td th:text="${reservationStat.count}">1</td>
                    <td th:text="|${reservation.cookingRoomName}호|">103호</td>
                    <td th:text="${reservation.date}">2023.03.20</td>
                    <td th:text="|${reservation.startTime} ~ ${reservation.endTime}|">11:00 ~ 12:00</td>
                    <td>
                        <form th:action="@{/cooking-rooms/reservation/{param1}(param1=${reservation.id})}" method="post">
                            <input type="hidden" name="_method" value="delete"/>
                            <input type="submit" class="btn btn-default btn-strong" value="취소하기"/>
                            <!-- <a href="#" class="btn btn-default btn-strong"
                            th:href="'javascript:cancel('+${reservation.id}+')'">취소하기</a> -->
                        </form>
                            
                            <!-- <input type="submit" class="btn btn-default btn-basic" value="취소하기"> -->
                        </td>
                        <td>
                            <a href="#" class="btn btn-default btn-strong"
                                th:href="@{/cooking-rooms/reservation/{param1}(param1=${reservation.id})}">수정하기</a>
                            <!-- <input type="submit" class="btn btn-default btn-strong" value="수정하기"> -->
                        </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</main>
<script th:inline="javascript" layout:fragment="script">
    
    function cancel(id) {
        if(!confirm("삭제하시겠습니까?"))
            return;

        const hidden = `<input type="hidden" name="_method" value="delete"/>`;
        const form = document.createElement("form");
        form.setAttribute("method", "delete");
        form.setAttribute("action", "/cooking-rooms/reservation/" + id);
        form.append(hidden);
        document.body.appendChild(form);
        form.submit();
    }

    // function edit(id) {
    //     var form = document.createElement("form");
    //     form.setAttribute("method", "get");
    //     form.setAttribute("action", "/cooking-rooms/reservation/" + id);
    //     document.body.appendChild(form);
    //     form.submit();
    // }

    /* <![CDATA[ */

    window.onload = () => {

        let message = [[${ msg }]];
        let url = [[${ url }]];
        if (message == null)
            return;

        alert(message);
        location.href = url;
    }

    /* ]]> */
</script>

</html>