<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="inc/layout">
<main layout:fragment="content" class="detail-container create-container">
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>요리실</th>
                    <th>예약일</th>
                    <th>시간</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="reservation : ${reservations}">
                    <td th:text="${reservationStat.count}">1</td>
                    <td th:text="|${reservation.cookingRoomName}호|">103호</td>
                    <td class="date" th:text="${reservation.date}">2023.03.20</td>
                    <td th:text="|${reservation.startTime} ~ ${reservation.endTime}|">11:00 ~ 12:00</td>
                    <td>
                        <form th:action="@{/cooking-rooms/reservation/{param1}(param1=${reservation.id})}"
                            method="post">
                            <input type="hidden" name="_method" value="delete" />
                            <a href="#" class="btn btn-default btn-strong"
                                onclick="cancel(this)">취소하기</a>
                        </form>
                    </td>
                    <td>
                        <a href="" class="btn btn-default btn-strong edit"
                            th:href="@{/cooking-rooms/reservation/{param1}(param1=${reservation.id})}"
                            onclick="dateCheck(this)">수정하기</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="paging-box"
            th:with="start=${(reservations.number/maxPage)*maxPage +1}, end=(${(reservations.totalPages == 0) ? 1 : (start + (maxPage -1) < reservations.totalPages ? start + (maxPage - 1) : reservations.totalPages)})">
            <a th:if="${start > 1}" th:href="@{reservations(page=${start - maxPage})}"
                class="btn btn-tag btn-icon icon-arrow-left">왼쪽 버튼</a>
            <a th:each="page: ${#numbers.sequence(start, end)}" th:href="@{reservations(page=${page-1})}"
                th:text="${page}" th:class="${page == reservations.number + 1} ? 'btn btn-default selected' : 'btn btn-default'" class="btn btn-default selected">1</a>
            <a th:if="${end < reservations.totalPages}" th:href="@{reservations(page=${list.totalPages-1})}"
                class="btn btn-tag btn-icon icon-arrow-right">오른쪽 버튼</a>
        </div>
    </div>
    </div>
</main>
<script th:inline="javascript" layout:fragment="script">
    // 현재 날짜와 예약 날짜 비교
    function dateCheck(e) {
        let today = Date.now();
        let tr = e.parentElement.parentElement;
        let date = Date.parse(tr.querySelector(".date").innerText);
        console.log(date);

        if (date < today) {
            // e.preventDefault();
            e.href = "#";
            alert("지난 날짜는 수정이 불가능합니다.");
        }
    }
    // 취소
    function cancel(e) {

        if (!confirm("삭제하시겠습니까?"))
            return;

        const form = e.parentElement;
        form.submit();
    }
</script>

</html>