<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="inc/layout">
<main layout:fragment="content" class="detail-container create-container">
    <section class="detail-container">
        <h1 class="detail-container-title">마이 페이지</h1>
        <div class="link-box">
            <div class="detail-title"><a class="btn btn-basic btn-default" th:href="@{/clubs/list/created}">등록한 쿡스터디</a>
            </div>
            <div class="detail-title"><a class="btn btn-basic btn-default" th:href="@{/clubs/list/joined}">참여하는 쿡스터디</a>
            </div>
            <div class="detail-title"><a class="btn btn-basic btn-default" th:href="@{/recipes/list/created}">등록한
                    레시피</a></div>
            <div class="detail-title"><a class="btn btn-basic btn-default"
                    th:href="@{/members/{param1}(param1=${memberId})}">프로필 수정</a></div>
            <form class="detail-title delete-form" method="post" th:action="@{/members/{param1}(param1=${memberId})}">
                <input type="hidden" name="_method" value="delete">
                <button th:method="post" class="btn btn-basic btn-default" type="submit"
                    th:href="@{/members/{param1}(param1=${memberId})}">회원 탈퇴</button>
            </form>
        </div>
    </section>
</main>
<script th:inline="javascript" layout:fragment="script">

    /* <![CDATA[ */
    window.onload = () => {

        let message = [[${ msg }]];
        let url = [[${ url }]];

        if (message == null)
            return;
        alert(message);

        if (url == null)
            return;
        location.href = url;
    }

    const submitBtn = document.querySelector("button");
    submitBtn.onclick = (e) => {
        e.preventDefault();

        if(!(confirm("탈퇴하시겠습니까?")))
            return;

        document.querySelector(".delete-form").submit();
    }
    /* ]]> */
</script>

</html>