<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../css/reset.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/style.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/layout.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/component.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/buttons.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/utils.css" rel="stylesheet" type="text/css">
    <title>🍽 요리모여 - 레시피를 공유하고 함께 요리하는 공간</title>
</head>
<header class="header">
    <div class="header-top">
        <div class="d-flex align-items-center">
            <a class="header-title main-title" href="/">요리모여</a>
        </div>
        
        <div class="login-member" sec:authorize="isAuthenticated()" th:text="|${member.name}님|">로그인 회원 이름</div>
        
        <nav class="nav-login">

            <div class="btn btn-strong">
                <a href="/recipes">레시피 등록</a>
            </div>
            <div class="btn btn-strong">
                <a href="/clubs">쿡스터디 등록</a>
            </div>
            <div class="btn btn-strong">
                <a href="/cooking-rooms/reservation">요리실 대여</a>
            </div>
            <div class="btn btn-default-color" sec:authorize="isAnonymous()">
                <a href="/loginForm">로그인</a>
            </div>

            <div class="btn btn-default-color" sec:authorize="isAnonymous()">
                <a href="/members">회원가입</a>
            </div>

            <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                <div class="btn btn-default-color">
                    <input class="btn-submit color-emphasis" type="submit" value="로그아웃">
                </div>
            </form>
        </nav>
    </div>

    <div class="header-bottom">
        <nav>
            <ul class="d-flex">
                <li><a th:href="@{/recipes/list(categoryName='')}">레시피</a></li>
                <li><a th:href="@{/clubs/list(categoryName='')}">쿡스터디</a></li>
                <li><a href="/cooking-rooms/reservations">요리실</a></li>
                <li><a href="/mypage">마이페이지</a></li>
            </ul>
        </nav>
    </div>
</header>
<main class="detail-container create-container">
    <section class="detail-container">
        <h1 class="detail-container-title">마이 페이지</h1>
        <div class="link-box">
            <div class="detail-title"><a class="btn btn-basic btn-default" th:href="@{/clubs/list/created(categoryName='')}">등록한 쿡스터디</a>
            </div>
            <div class="detail-title"><a class="btn btn-basic btn-default" th:href="@{/clubs/list/joined(categoryName='')}">참여하는 쿡스터디</a>
            </div>
            <div class="detail-title"><a class="btn btn-basic btn-default" th:href="@{/recipes/list/created(categoryName='')}">등록한
                    레시피</a></div>
            <div class="detail-title"><a class="btn btn-basic btn-default"
                    th:href="@{/members/{param1}(param1=${member.id})}">프로필 수정</a></div>
            <form class="detail-title delete-form" method="post" th:action="@{/members/{param1}(param1=${member.id})}">
                <input type="hidden" name="_method" value="delete">
                <button th:method="post" class="btn btn-basic btn-default" type="submit"
                    th:href="@{/members/{param1}(param1=${member.id})}">회원 탈퇴</button>
            </form>
        </div>
    </section>
</main>
<script th:inline="javascript" layout:fragment="script">

    /* <![CDATA[ */
    window.onload = () => {

        let message = [[${ msg }]];
        let url = [[${ url }]];

        if (message == null)
            return;
        alert(message);

        if (url == null)
            return;
        location.href = url;
    }

    const submitBtn = document.querySelector("button");
    submitBtn.onclick = (e) => {
        e.preventDefault();

        if(!(confirm("탈퇴하시겠습니까?")))
            return;

        document.querySelector(".delete-form").submit();
    }
    /* ]]> */
</script>
<div th:replace="inc/footer :: footer"></div>
</html>