<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header" class="header">
    <div class="header-top">
        <div class="d-flex align-items-center">
            <a class="header-title main-title" href="/">요리모여</a>
        </div>

        <nav class="nav-login">
            <div class="btn btn-strong">
                <a href="/recipes">레시피 등록</a>
            </div>
            <div class="btn btn-strong">
                <a href="/clubs">쿡스터디 등록</a>
            </div>

            <div class="btn btn-strong">
                <a href="/cooking-rooms/reservation">요리실 대여</a>
            </div>
            <form th:action="@{/logout}" method="post">
                <div class="btn btn-default">
                    <input class="btn-submit color-emphasis" type="submit" value="로그아웃">
                </div>
            </form>
        </nav>
    </div>

    <div class="header-bottom">
        <nav>
            <ul class="d-flex">
                <li><a th:href="@{/recipes/list(categoryName='')}">레시피</a></li>
                <li><a th:href="@{/clubs/list(categoryName='')}">쿡스터디</a></li>
                <li><a href="/cooking-rooms/reservations">요리실</a></li>
                <li><a href="/mypage">마이페이지</a></li>
            </ul>
        </nav>
    </div>
</header>