<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../css/reset.css" rel="stylesheet" type="text/css" />
    <link href="../../css/style.css" rel="stylesheet" type="text/css" />
    <link href="../../css/layout.css" rel="stylesheet" type="text/css" />
    <link href="../../css/component.css" rel="stylesheet" type="text/css" />
    <link href="../../css/buttons.css" rel="stylesheet" type="text/css" />
    <link href="../../css/utils.css" rel="stylesheet" type="text/css">
    <title>요리모여</title>
</head>
<header class="header">
    <div class="header-top">
        <div class="d-flex align-items-center">
            <a class="header-title main-title" href="/">요리모여</a>
        </div>

        <nav class="nav-login">
            <div class="btn btn-strong">
                <a href="/recipes">레시피 등록</a>
            </div>
            <div class="btn btn-strong">
                <a href="/clubs">쿡스터디 등록</a>
            </div>
            <div class="btn btn-strong">
                <a href="/cooking-rooms/reservation">요리실 대여</a>
            </div>
            <div class="btn btn-default">
                <a href="/login">로그인</a>
            </div>

            <div class="btn btn-strong">
                <a href="/members">회원가입</a>
            </div>
        </nav>
    </div>

    <div class="header-bottom">
        <nav>
            <ul class="d-flex">
                <li><a href="/recipes/list">레시피</a></li>
                <li><a href="/clubs/list">쿡스터디</a></li>
                <li><a href="/cooking-rooms/reservations">요리실</a></li>
                <li><a href="/mypage">마이페이지</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <section class="input-container">
        <h1 class="detail-title">회원가입</h1>
        <form role="form" action="/members" th:object="${memberForm}" method="post" autocomplete="off">
            <div class="form-group">
                <div class="input-box">
                    <label th:for="name">이름</label>
                    <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요"
                        th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'" required
                        oninput="checkName()">
                </div>
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">이름이 형식에 맞지 않습니다.</p>
                <p class="name-invalid d-none">이름이 형식에 맞지 않습니다.</p>
            </div>
            <div class="form-group">
                <div class="input-box">
                    <label th:for="loginId">아이디</label>
                    <input type="text" th:field="*{loginId}" class="form-control" placeholder="아이디를 입력하세요"
                        th:class="${#fields.hasErrors('loginId')}? 'form-control fieldError' : 'form-control'" required
                        oninput="checkLoginId()">
                </div>
                <p th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}">존재하는 아이디입니다.</p>
                <p class="id-valid d-none">사용 가능한 아이디입니다.</p>
                <p class="id-invalid d-none">아이디가 형식에 맞지 않습니다.</p>
                <p class="id-origin d-none">이미 사용중인 아이디입니다.</p>
            </div>
            <div class="form-group">
                <div class="input-box">
                    <label th:for="pwd">비밀번호</label>
                    <input type="password" th:field="*{pwd}" class="form-control" placeholder="비밀번호를 입력하세요"
                        th:class="${#fields.hasErrors('pwd')}? 'form-control fieldError' : 'form-control'" required oninput="checkPwd()">
                </div>
                <p th:if="${#fields.hasErrors('pwd')}" th:errors="*{pwd}">비밀번호가 형식에 맞지 않습니다.</p>
                <p class="pwd-invalid d-none">비밀번호가 형식에 맞지 않습니다.</p>
            </div>
            <div class="form-group">
                <div class="input-box">
                    <label th:for="email">이메일</label>
                    <input type="email" th:field="*{email}" class="form-control" placeholder="이메일을 입력하세요"
                        th:class="${#fields.hasErrors('email')}? 'form-control fieldError' : 'form-control'" required
                        oninput="checkEmail()">
                </div>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">이메일 형식에 맞지 않습니다.</p>
                <p class="email-valid d-none">사용 가능한 이메일입니다.</p>
                <p class="email-invalid d-none">이메일이 형식에 맞지 않습니다.</p>
                <p class="email-origin d-none">이미 사용중인 이메일입니다.</p>
            </div>
            <div class="form-group">
                <div class="input-box">
                    <label th:for="phoneNum">휴대폰 번호</label>
                    <input type="tel" th:field="*{phoneNum}" class="form-control" placeholder="'-'를 포함하여 입력해주세요"
                        th:class="${#fields.hasErrors('phoneNum')}? 'form-control fieldError' : 'form-control'" required
                        oninput="checkPhoneNum()">
                </div>
                <p th:if="${#fields.hasErrors('phoneNum')}" th:errors="*{phoneNum}">휴대폰 번호가 형식에 맞지 않습니다.</p>
                <p class="phone-valid d-none">사용 가능한 휴대폰 번호입니다.</p>
                <p class="phone-invalid d-none">휴대폰 번호가 형식에 맞지 않습니다.</p>
                <p class="phone-origin d-none">이미 사용중인 휴대폰 번호입니다.</p>
            </div>
            <div class="edit-box">
                <button type="submit" class="btn btn-strong btn-default btn-submit">회원가입</button>
            </div>
        </form>
        <br />
    </section> <!-- /container -->
</main>
<script th:inline="javascript" layout:fragment="script" th:src="@{/script/valid-check.js}"></script>
<script th:inline="javascript" layout:fragment="script">

    /* <![CDATA[ */
    window.onload = () => {

        let message = [[${ msg }]];
        let url = [[${ url }]];
        if (message == null)
            return;

        alert(message);
        location.href = url;
    }


    const editBox = document.querySelector(".edit-box");
    const submitBtn = editBox.querySelector("button");


    submitBtn.onclick = (e) => {
        const invalidName = document.querySelector(".name-invalid");
        const validId = document.querySelector(".id-valid");
        const validEmail = document.querySelector(".email-valid");
        const invalidPwd = document.querySelector(".pwd-invalid");
        const validPhone = document.querySelector(".phone-valid");

        if (!invalidName.classList.contains("d-none") || validId.classList.contains("d-none") || validEmail.classList.contains("d-none")
            || validPhone.classList.contains("d-none") || !invalidPwd.classList.contains("d-none")) {
            alert("입력칸을 다시 확인해주세요.");
            e.preventDefault();
            return;
        }

    }

    function checkName() {
        let name = document.querySelector("#name").value;
        const invalid = document.querySelector(".name-invalid");

        if (!validNameCheck(name))
            invalid.classList.remove("d-none");
        else
            invalid.classList.add("d-none");
    }

    function checkPwd() {
        let pwd = document.querySelector("#pwd").value;
        const invalid = document.querySelector(".pwd-invalid");

        if (!validPawwsordCheck(pwd))
            invalid.classList.remove("d-none");
        else
            invalid.classList.add("d-none");
    }

    function checkLoginId() {
        let loginId = document.querySelector("#loginId").value;
        // console.log(email);
        const request = new XMLHttpRequest();
        let type = "GET";
        let url = "/valid-loginId?loginId=" + loginId;

        const valid = document.querySelector(".id-valid");
        const invalid = document.querySelector(".id-invalid");
        const origin = document.querySelector(".id-origin");

        request.onreadystatechange = () => {
            if (request.readyState != XMLHttpRequest.DONE)
                return;
            let response = request.responseText;

            console.log(response);

            if (response == 1) {
                console.log(validIdCheck(loginId));
                valid.classList.add("d-none");
                invalid.classList.add("d-none");
                origin.classList.remove("d-none");
            }
            else if (!validIdCheck(loginId)) {
                valid.classList.add("d-none");
                origin.classList.add("d-none");
                invalid.classList.remove("d-none");
            }
            else {
                invalid.classList.add("d-none");
                origin.classList.add("d-none");
                valid.classList.remove("d-none");
            }
        }

        /* Post 방식으로 요청 */
        request.open(type, url);    // 요청 초기화
        request.send();
    }

    function checkEmail() {
        let email = document.querySelector("input[type=email]").value;
        // console.log(email);
        const request = new XMLHttpRequest();
        let type = "GET";
        let url = "/valid-email?email=" + email;

        const valid = document.querySelector(".email-valid");
        const invalid = document.querySelector(".email-invalid");
        const origin = document.querySelector(".email-origin");

        request.onreadystatechange = () => {
            if (request.readyState != XMLHttpRequest.DONE)
                return;
            let response = request.responseText;

            console.log(response);

            if (response == 1) {
                console.log(validEmailCheck(email));
                valid.classList.add("d-none");
                invalid.classList.add("d-none");
                origin.classList.remove("d-none");
            }
            else if (!validEmailCheck(email)) {
                valid.classList.add("d-none");
                origin.classList.add("d-none");
                invalid.classList.remove("d-none");
            }
            else {
                invalid.classList.add("d-none");
                origin.classList.add("d-none");
                valid.classList.remove("d-none");
            }


        }

        /* Post 방식으로 요청 */
        request.open(type, url);    // 요청 초기화
        request.send();
    }

    function checkPhoneNum() {
        let phone = document.querySelector("input[type=tel]").value;
        const request = new XMLHttpRequest();
        let type = "GET";
        let url = "/valid-phoneNum?phoneNum=" + phone;

        const valid = document.querySelector(".phone-valid");
        const invalid = document.querySelector(".phone-invalid");
        const origin = document.querySelector(".phone-origin");

        request.onreadystatechange = () => {
            if (request.readyState != XMLHttpRequest.DONE)
                return;
            let response = request.responseText;

            console.log(response);

            if (response == 1) {
                console.log(validPhoneNumCheck(phone));
                valid.classList.add("d-none");
                invalid.classList.add("d-none");
                origin.classList.remove("d-none");
            }
            else if (!validPhoneNumCheck(phone)) {
                valid.classList.add("d-none");
                origin.classList.add("d-none");
                invalid.classList.remove("d-none");
            }
            else {
                invalid.classList.add("d-none");
                origin.classList.add("d-none");
                valid.classList.remove("d-none");
            }
        }

        /* Post 방식으로 요청 */
        request.open(type, url);    // 요청 초기화
        request.send();
    }

    /* ]]> */
</script>
<div th:replace="inc/footer :: footer"></div>

</html>