<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../css/reset.css" rel="stylesheet" type="text/css" />
    <link href="../../css/style.css" rel="stylesheet" type="text/css" />
    <link href="../../css/layout.css" rel="stylesheet" type="text/css" />
    <link href="../../css/component.css" rel="stylesheet" type="text/css" />
    <link href="../../css/buttons.css" rel="stylesheet" type="text/css" />
    <link href="../../css/utils.css" rel="stylesheet" type="text/css">
    <title>요리모여</title>
</head>
<header class="header">
    <div class="header-top">
        <div class="d-flex align-items-center">
            <a class="header-title main-title" href="/">요리모여</a>
        </div>
        
        <div class="login-member" sec:authorize="isAuthenticated()" th:text="|${memberForm.name}님|">로그인 회원 이름</div>
        
        <nav class="nav-login">

            <div class="btn btn-strong">
                <a href="/recipes">레시피 등록</a>
            </div>
            <div class="btn btn-strong">
                <a href="/clubs">쿡스터디 등록</a>
            </div>
            <div class="btn btn-strong">
                <a href="/cooking-rooms/reservation">요리실 대여</a>
            </div>
            <div class="btn btn-default-color" sec:authorize="isAnonymous()">
                <a href="/loginForm">로그인</a>
            </div>

            <div class="btn btn-default-color" sec:authorize="isAnonymous()">
                <a href="/members">회원가입</a>
            </div>

            <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                <div class="btn btn-default-color">
                    <input class="btn-submit color-emphasis" type="submit" value="로그아웃">
                </div>
            </form>
        </nav>
    </div>

    <div class="header-bottom">
        <nav>
            <ul class="d-flex">
                <li><a th:href="@{/recipes/list(categoryName='')}">레시피</a></li>
                <li><a th:href="@{/clubs/list(categoryName='')}">쿡스터디</a></li>
                <li><a href="/cooking-rooms/reservations">요리실</a></li>
                <li><a href="/mypage">마이페이지</a></li>
            </ul>
        </nav>
    </div>
</header>
    <main>
        <section class="input-container">
            <h1 class="detail-title">프로필 수정</h1>
            <form role="form" th:action="@{/members/{param}(param=${memberId})}" th:object="${memberForm}" method="post"
                autocomplete="off">
                <!-- id -->
                <!-- <input type="hidden" th:field="*{memberId}" name=""> -->
                <input type="hidden" name="_method" value="put" />
                <div class="form-group">
                    <div class="input-box">
                        <label th:for="name">이름</label>
                        <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요"
                            th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'"
                            required>
                    </div>
                    <p th:if="${#fields.hasErrors('name')}" class="invalid" th:errors="*{name}">Incorrect date</p>
                    <p class="name-invalid d-none invalid">이름이 형식에 맞지 않습니다.</p>
                </div>
                <div class="form-group">
                    <div class="input-box">
                        <label th:for="loginId">아이디</label>
                        <input type="text" th:field="*{loginId}" class="form-control" placeholder="아이디를 입력하세요"
                            th:class="${#fields.hasErrors('loginId')}? 'form-control fieldError' : 'form-control'" required>
                    </div>
                    <p th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}" class="invalid">존재하는 아이디입니다.</p>
                    <p class="id-valid d-none valid">사용 가능한 아이디입니다.</p>
                    <p class="id-invalid d-none invalid">아이디가 형식에 맞지 않습니다.</p>
                    <p class="id-exist d-none invalid">이미 사용중인 아이디입니다.</p>
                    <p class="id-origin d-none invalid">기존 아이디입니다.</p>
                </div>
                <div class="form-group">
                    <div class="input-box">
                        <label th:for="currentPwd">현재 비밀번호</label>
                        <input type="password" th:field="*{currentPwd}" class="form-control" placeholder="현재 비밀번호를 입력하세요"
                            th:class="${#fields.hasErrors('currentPwd')}? 'form-control fieldError' : 'form-control'">
                    </div>
                    <p th:if="${#fields.hasErrors('currentPwd')}" class="invalid" th:errors="*{currentPwd}">현재 사용중인 비밀번호가 아닙니다.</p>
                    <p th:if="${currentPwdError}" th:text="${currentPwdError}" class="invalid"></p>
                    <p class="pwd-invalid d-none invalid">기존 비밀번호를 입력해주세요.</p>
                    <div class="input-box">
                        <label th:for="newPwd">새 비밀번호</label>
                        <input type="password" th:field="*{newPwd}" class="form-control" placeholder="새 비밀번호를 입력하세요"
                            th:class="${#fields.hasErrors('newPwd')}? 'form-control fieldError' : 'form-control'">
                    </div>
                    <p th:if="${#fields.hasErrors('newPwd')}" class="invalid" th:errors="*{newPwd}">비밀번호가 형식에 맞지 않습니다.</p>
                    <p class="newPwd-invalid d-none invalid">새 비밀번호가 형식에 맞지 않습니다.</p>
                    <div class="input-box">
                        <label th:for="newPwdConfirm">새 비밀번호 확인</label>
                        <input type="password" th:field="*{newPwdConfirm}" class="form-control" placeholder="새 비밀번호를 입력하세요"
                            th:class="${#fields.hasErrors('newPwdConfirm')}? 'form-control fieldError' : 'form-control'">
                    </div>
                    <p th:if="${#fields.hasErrors('newPwdConfirm')}" class="invalid" th:errors="*{newPwdConfirm}">비밀번호가 일치하지 않습니다.</p>
                    <p th:if="${newPwdError}" th:text="${newPwdError}" class="invalid"></p>
                    <p class="newPwdConfirm-invalid d-none invalid">새 비밀번호와 일치하지 않습니다.</p>
                </div>
                <div class="form-group">
                    <div class="input-box">
                        <label th:for="email">이메일</label>
                        <input type="email" th:field="*{email}" class="form-control" placeholder="이메일을 입력하세요"
                            th:class="${#fields.hasErrors('email')}? 'form-control fieldError' : 'form-control'"
                            required>
                            <button type="button" id="sendCodeBtn" class="btn btn-strong btn-default btn-disabled" disabled>인증번호 전송</button>
                    </div>
                    <p th:if="${#fields.hasErrors('email')}" class="invalid" th:errors="*{email}">이메일 형식에 맞지 않습니다.</p>
                    <p class="email-valid d-none valid">사용 가능한 이메일입니다.</p>
                    <p class="email-invalid d-none invalid">이메일 형식에 맞지 않습니다.</p>
                    <p class="email-exist d-none invalid">이미 사용중인 이메일입니다.</p>
                    <p class="email-origin d-none invalid">기존 이메일입니다.</p>
                    <p th:if="${emailError}" th:text="${emailError}" class="invalid"></p>
                    <div id="verifySection" class="input-box mt-16">
                        <label for="authCode">인증번호</label>
                        <input type="text" id="authCode" name="authCode">
                        <div class="time-attack"><span id="countdown" class="d-none"></span></div>
                        <button type="button" id="verifyBtn" class="btn btn-strong btn-default btn-disabled" disabled>인증 확인</button>
                    </div>
                    <p class="email-code-valid d-none valid">인증이 완료되었습니다.</p>
                    <p class="email-code-invalid d-none invalid">인증번호가 올바르지 않습니다.</p>
                </div>
                <div class="form-group">
                    <div class="input-box">
                        <label th:for="phoneNum">휴대폰 번호</label>
                        <input type="tel" th:field="*{phoneNum}" class="form-control" placeholder="'-'를 포함하여 입력해주세요"
                            th:class="${#fields.hasErrors('phoneNum')}? 'form-control fieldError' : 'form-control'"
                            required>
                    </div>
                    <p th:if="${#fields.hasErrors('phoneNum')}" th:errors="*{phoneNum}">휴대폰 번호 형식에 맞지 않습니다.</p>
                    <p class="phone-valid d-none valid">사용 가능한 휴대폰 번호입니다.</p>
                    <p class="phone-invalid d-none invalid">휴대폰 번호 형식에 맞지 않습니다.</p>
                    <p class="phone-exist d-none invalid">이미 사용중인 휴대폰 번호입니다.</p>
                    <p class="phone-origin d-none invalid">기존 휴대폰 번호입니다.</p>
                </div>
                <div class="edit-box">
                    <button type="submit" class="btn btn-strong btn-default">수정하기</button>
                </div>
            </form>
            <br />
        </section> <!-- /container -->
    </main>
    <script th:inline="javascript" layout:fragment="script" th:src="@{/script/valid-check.js}"></script>
    <script th:inline="javascript" th:src="@{/script/set-data.js}"></script>
    <script th:inline="javascript" th:src="@{/script/input_check-display.js}"></script>
    <script th:inline="javascript" >

        /* <![CDATA[ */
        window.onload = () => {

            let message = [[${ msg }]];
            let url = [[${ url }]];

            if (message == null)
                return;
            alert(message);

            if (url == null)
                return;
            location.href = url;
        }

        const nameInput = document.querySelector("#name")
        const loginIdInput = document.querySelector("#loginId");
        
        // 비밀번호(현재, 바꿀 비밀번호, 바꿀 비밀번호 확인) 인풋
        const currentPwd = document.querySelector("#currentPwd");
        const newPwd = document.querySelector("#newPwd");
        const newPwdConfirm = document.querySelector("#newPwdConfirm");
        
        const emailInput = document.querySelector("#email");
        const phoneNumInput = document.querySelector("#phoneNum");
        
        const editBox = document.querySelector(".edit-box");
        const submitBtn = editBox.querySelector("button");
        
        submitBtn.onclick = (e) => {
            const invalidName = document.querySelector(".name-invalid");
            const invalidId = document.querySelector(".id-invalid");
            const existId = document.querySelector(".id-exist");
            const invalidEmail = document.querySelector(".email-invalid");
            const existEmail = document.querySelector(".email-exist");
            const invalidPwd = document.querySelector(".pwd-invalid");
            const invalidPhone = document.querySelector(".phone-invalid");
            const existPhone = document.querySelector(".phone-exist");

            if (
                !invalidName.classList.contains("d-none") ||
                !invalidId.classList.contains("d-none") ||
                !existId.classList.contains("d-none") ||
                !invalidEmail.classList.contains("d-none") ||
                !existEmail.classList.contains("d-none") ||
                !invalidPhone.classList.contains("d-none") ||
                !existPhone.classList.contains("d-none")
            ) {
                e.preventDefault();
                alert("입력칸을 다시 확인해주세요.");
                return;
            } 
            if(currentPwd.value && (newPwd.value == "" || newPwdConfirm.value == "")) {
                e.preventDefault();
                alert("비밀번호를 변경하기 위해서는 현재 비밀번호와 바꿀 비밀번호를 입력하셔야 합니다.");
                return;
            }
            if(!currentPwd.value && (newPwd.value || newPwdConfirm.value)) {
                e.preventDefault();
                alert("비밀번호를 변경하기 위해서는 현재 사용중인 비밀번호를 입력하셔야 합니다.");
                return;
            } 
            if(newPwd.value != newPwdConfirm.value) {
                e.preventDefault();
                alert("새 비밀번호와 새 비밀번호 확인이 일치하지 않습니다.");
                return;
            } 
        };

        nameInput.oninput = () => {
            checkName();
        };

        loginIdInput.oninput = () => {
            checkLoginId();
        };

        newPwd.oninput = () => {
            checkPwd(newPwd, "newPwd");
        }

        newPwdConfirm.oninput = () => {
            checkPwd(newPwdConfirm, "newPwdConfirm");
        }

        emailInput.oninput = () => {
            checkEmail();
        };

        phoneNumInput.oninput = () => {
            checkPhoneNum();
        };

        function checkName() {
            let name = document.querySelector("#name").value;
            const invalid = document.querySelector(".name-invalid");

            if (!validNameCheck(name))
                invalid.classList.remove("d-none");
            else
                invalid.classList.add("d-none");
        }

        function checkPwd(pwd, pwdInvalid) {
            let password = pwd.value;
            let invalid = document.querySelector(`.${pwdInvalid}-invalid`);

            if (!validPawwsordCheck(password) && password)
                invalid.classList.remove("d-none");
            else
                invalid.classList.add("d-none");
        }


        function checkLoginId() {
            let loginId = document.querySelector("#loginId").value;
            const request = new XMLHttpRequest();
            let url = "/valid-loginId?loginId=" + loginId;
            const valid = document.querySelector(".id-valid");
            const invalid = document.querySelector(".id-invalid");
            const origin = document.querySelector(".id-origin");
            const exist = document.querySelector(".id-exist");


            request.onreadystatechange = () => {
                if (request.readyState != XMLHttpRequest.DONE)
                    return;
                let response = request.responseText;

                if (response == 1) {
                    if (loginId == [[${ memberForm.loginId }]]) {
                        originDisplay(valid, invalid, exist, origin);
                        return;
                    }
                    existDisplay(valid, invalid, exist, origin);
                }
                else if (!validIdCheck(loginId)) 
                    invalidDisplay(valid, invalid, exist, origin);
                
                else 
                    validDisplay(valid, invalid, exist, origin);   
            }

            methodGet(request, url);
        }

        function checkEmail() {
            let email = document.querySelector("input[type=email]").value;
            const request = new XMLHttpRequest();
            let url = "/valid-email?email=" + email;

            const valid = document.querySelector(".email-valid");
            const invalid = document.querySelector(".email-invalid");
            const origin = document.querySelector(".email-origin");
            const exist = document.querySelector(".email-exist");
            const emailCodeValid = document.querySelector(".email-code-valid");
            const emailCodeInvalid = document.querySelector(".email-code-invalid");
            const sendCodeBtn = document.getElementById("sendCodeBtn");

            request.onreadystatechange = () => {
                emailCodeValid.classList.add("d-none");
                emailCodeInvalid.classList.add("d-none");
            
                if(!sendCodeBtn.classList.contains("btn-disabled")) {
                    sendCodeBtn.classList.add("btn-disabled");
                    sendCodeBtn.disabled = true;
                }

                if (request.readyState != XMLHttpRequest.DONE)
                    return;
                let response = request.responseText;

                if (response == 1) {
                    if (email == [[${ memberForm.email }]]) {
                        validDisplay(valid, invalid, exist, origin);
                        return;
                    }
                    existDisplay(valid, invalid, exist, origin);
                }
                else if (!validEmailCheck(email)) 
                    invalidDisplay(valid, invalid, exist, origin);
                
                else {
                    validDisplay(valid, invalid, exist, origin);
                    sendCodeBtn.classList.remove("btn-disabled");
                    sendCodeBtn.disabled = false;
                }
            }

            methodGet(request, url);
        }


        function checkPhoneNum() {
            let phone = document.querySelector("input[type=tel]").value;
            const request = new XMLHttpRequest();
            let url = "/valid-phoneNum?phoneNum=" + phone;

            const valid = document.querySelector(".phone-valid");
            const invalid = document.querySelector(".phone-invalid");
            const origin = document.querySelector(".phone-origin");
            const exist = document.querySelector(".phone-exist");

            request.onreadystatechange = () => {
                if (request.readyState != XMLHttpRequest.DONE)
                    return;
                let response = request.responseText;

                if (response == 1) {
                    if (phone == [[${ memberForm.phoneNum }]]) {
                        originDisplay(valid, invalid, exist, origin);
                        return;
                    }
                    existDisplay(valid, invalid, exist, origin);
                }
                else if (!validPhoneNumCheck(phone))
                    invalidDisplay(valid, invalid, exist, origin);
                
                else 
                    validDisplay(valid, invalid, exist, origin);
            }

            methodGet(request, url);
        }

        document.addEventListener("DOMContentLoaded", function () {
        // const emailInput = document.getElementById("emailInput") || document.querySelector("input[type=email]");
        const emailInput = document.querySelector("input[type=email]");
        const verifyBtn = document.getElementById("verifyBtn");
        let countdownEl = document.getElementById("countdown");
        const timerBox = document.querySelector(".time-attack");
        let emailValid = document.querySelector(".email-valid");
        let emailCodeValid = document.querySelector(".email-code-valid");
        let emailCodeInvalid = document.querySelector(".email-code-invalid");
        let countdownInterval = null;
        
        // ✅ 인증 성공 후 버튼 비활성화 함수
        function disableAuthButtons() {
            sendCodeBtn.disabled = true;
            verifyBtn.disabled = true;
            sendCodeBtn.classList.add("btn-disabled");
            verifyBtn.classList.add("btn-disabled");
        }

        // ✅ 인증 요청 → 서버로부터 인증 성공 응답 후 호출
        function onEmailVerified(msg) {
            alert("이메일 인증이 완료되었습니다.");
            emailCodeValid.classList.remove("d-none");
            emailCodeValid.textContent = msg;
            emailCodeInvalid.classList.add("d-none");
            disableAuthButtons();
        }

        // ✅ 인증번호 전송
        sendCodeBtn.addEventListener("click", function () {
        const email = emailInput.value;

        fetch("/email/code", {
            method: "POST",
            headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            },
            body: `email=${encodeURIComponent(email)}` // encodeURIComponent() : 한글, 특수문자 등을 안전하게 인코딩해주는 함수
        })
            .then(response => response.json()) // 응답 본문을 json 형태로 파싱
            .then(data => { // 파싱된 json 데이터에 접근해서 처리
                if (data.success) {
                    startCountdown(data.ttl); // 5분 (300초)
                    emailValid.textContent = data.msg; // 인증번호가 전송되었습니다.
                    verifyBtn.classList.remove("btn-disabled");
                    verifyBtn.disabled = false;
                } else {
                    alert(data.msg); // 실패 사유                        
                }
            })
            .catch(err => { // 네트워크 오류 등 fetch 자체가 실패했을 때 실행되는 에러 처리 부분
                console.error(err); 
                alert("인증번호 전송 중 오류가 발생했습니다.");
            });
        });

        // 카운트다운 함수
        function startCountdown(seconds) {
            if (countdownInterval) clearInterval(countdownInterval);
            // countdownEl.textContent = "04:59";

            let remaining = seconds-1;
            const invalid = document.querySelector(".email-invalid");
            countdownEl.classList.remove("d-none"); // 타이머 보여주기

            countdownInterval = setInterval(() => {
            let minutes = String(Math.floor(remaining / 60)).padStart(2, "0");
            let secs = String(remaining % 60).padStart(2, "0");

            countdownEl.textContent = `${minutes}:${secs}`;
            remaining--;

            if (remaining < 0) {
                clearInterval(countdownInterval);
                countdownEl.textContent = "만료됨";
                alert("인증 시간이 만료되었습니다. 다시 요청해주세요.");
                emailValid.classList.add("d-none");
                invalid.classList.remove("d-none");
                invalid.textContent = "인증코드 재요청 필요";
                sendCodeBtn.classList.remove("btn-disabled");
                sendCodeBtn.disabled = false;
            }
            }, 1000);
        }

        // 인증 확인: 인증 확인 버튼 클릭 시
        verifyBtn.addEventListener("click", function () {
            const email = emailInput.value;
            const code = document.getElementById("authCode").value;

            fetch("/email/verify", {
                method: "POST",
                headers: {
                "Content-Type": "application/x-www-form-urlencoded",
                },
                body: `email=${encodeURIComponent(email)}&code=${encodeURIComponent(code)}`
            })
                .then(response => response.json()) // 응답 본문을 json 형태로 파싱
                .then(result => { 
                if (result.success) {
                    onEmailVerified(result.msg); // 인증 성공 시 처리
                    countdownEl.classList.add("d-none");
                } else {
                    alert(result.msg); // 실패 메시지 표시
                    emailCodeInvalid.classList.remove("d-none");
                    emailCodeInvalid.textContent = result.msg;
                    
                }
                })
                .catch(err => {
                    console.log(err); 
                    alert("인증 요청 중 오류가 발생했습니다.");
                });
        });
  });
        /* ]]> */
    </script>
<div th:replace="inc/footer :: footer"></div>
</html>