<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="inc/layout">
<div layout:fragment="content">
    <main>
        <section class="input-container">
            <h1 class="detail-title">프로필 수정</h1>
            <form role="form" th:action="@{/members/{param}(param=${memberId})}" th:object="${memberForm}" method="post"
                autocomplete="off">
                <!-- id -->
                <!-- <input type="hidden" th:field="*{memberId}" name=""> -->
                <input type="hidden" name="_method" value="put" />
                <div class="form-group">
                    <div class="input-box">
                        <label th:for="name">이름</label>
                        <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요"
                            th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'" required>
                    </div>
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>
                    <p class="name-invalid d-none">이름이 형식에 맞지 않습니다.</p>
                </div>
                <div class="form-group">
                    <div class="input-box">
                        <label th:for="loginId">아이디</label>
                        <input type="text" th:field="*{loginId}" class="form-control" placeholder="아이디를 입력하세요"
                            th:class="${#fields.hasErrors('loginId')}? 'form-control fieldError' : 'form-control'" required>
                    </div>
                    <p th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}">존재하는 아이디입니다.</p>
                    <p class="id-valid d-none">사용 가능한 아이디입니다.</p>
                    <p class="id-invalid d-none">아이디가 형식에 맞지 않습니다.</p>
                    <p class="id-exist d-none">이미 사용중인 아이디입니다.</p>
                    <p class="id-origin d-none">기존 아이디입니다.</p>
                </div>
                <div class="form-group">
                    <div class="input-box">
                        <label th:for="pwd">비밀번호</label>
                        <input type="text" th:field="*{pwd}" class="form-control" placeholder="비밀번호를 입력하세요"
                            th:class="${#fields.hasErrors('pwd')}? 'form-control fieldError' : 'form-control'">
                    </div>
                    <p th:if="${#fields.hasErrors('pwd')}" th:errors="*{pwd}">비밀번호가 형식에 맞지 않습니다.</p>
                    <p class="pwd-invalid d-none">비밀번호가 형식에 맞지 않습니다.</p>
                </div>
                <div class="form-group">
                    <div class="input-box">
                        <label th:for="email">이메일</label>
                        <input type="email" th:field="*{email}" class="form-control" placeholder="이메일을 입력하세요"
                            th:class="${#fields.hasErrors('email')}? 'form-control fieldError' : 'form-control'" required>
                    </div>
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">이메일 형식에 맞지 않습니다.</p>
                    <p class="email-valid d-none">사용 가능한 이메일입니다.</p>
                    <p class="email-invalid d-none">이메일 형식에 맞지 않습니다.</p>
                    <p class="email-exist d-none">이미 사용중인 이메일입니다.</p>
                    <p class="email-origin d-none">기존 이메일입니다.</p>
                </div>
                <div class="form-group">
                    <div class="input-box">
                        <label th:for="phoneNum">휴대폰 번호</label>
                        <input type="tel" th:field="*{phoneNum}" class="form-control" placeholder="'-'를 포함하여 입력해주세요"
                            th:class="${#fields.hasErrors('phoneNum')}? 'form-control fieldError' : 'form-control'" required>
                    </div>
                    <p th:if="${#fields.hasErrors('phoneNum')}" th:errors="*{phoneNum}">휴대폰 번호 형식에 맞지 않습니다.</p>
                    <p class="phone-valid d-none">사용 가능한 휴대폰 번호입니다.</p>
                    <p class="phone-invalid d-none">휴대폰 번호 형식에 맞지 않습니다.</p>
                    <p class="phone-exist d-none">이미 사용중인 휴대폰 번호입니다.</p>
                    <p class="phone-origin d-none">기존 휴대폰 번호입니다.</p>
                </div>
                <div class="edit-box">
                    <button type="submit" class="btn btn-strong btn-default btn-submit">수정하기</button>
                </div>
            </form>
            <br />
        </section> <!-- /container -->
    </main>
    <script th:inline="javascript" layout:fragment="script" th:src="@{/script/valid-check.js}"></script>
    <script th:inline="javascript" layout:fragment="script">

        /* <![CDATA[ */
        window.onload = () => {

            let message = [[${ msg }]];
            let url = [[${ url }]];

            if (message == null)
                return;
            alert(message);

            if (url == null)
                return;
            location.href = url;
        }

        const editBox = document.querySelector(".edit-box");
        const submitBtn = editBox.querySelector("button");
        const nameInput = document.querySelector("#name")
        const loginIdInput = document.querySelector("#loginId");
        const pwdInput = document.querySelector("#pwd");
        const emailInput = document.querySelector("#email");
        const phoneNumInput = document.querySelector("#phoneNum");

        submitBtn.onclick = (e) => {
            const invalidName = document.querySelector(".name-invalid");
            const invalidId = document.querySelector(".id-invalid");
            const existId = document.querySelector(".id-exist");
            const invalidEmail = document.querySelector(".email-invalid");
            const existEmail = document.querySelector(".email-exist");
            const invalidPwd = document.querySelector(".pwd-invalid");
            const invalidPhone = document.querySelector(".phone-invalid");
            const existPhone = document.querySelector(".phone-exist");

            if (!invalidName.classList.contains("d-none") || !invalidId.classList.contains("d-none") || !existId.classList.contains("d-none") || !invalidEmail.classList.contains("d-none") || !existEmail.classList.contains("d-none")
                || !invalidPhone.classList.contains("d-none") || !existPhone.classList.contains("d-none") || !invalidPwd.classList.contains("d-none")) {
                alert("입력칸을 다시 확인해주세요.");
                e.preventDefault();
                return;
            }
        }

        nameInput.oninput = () => {
            checkName();
        };

        loginIdInput.oninput = () => {
            checkLoginId();
        };
        
        pwdInput.oninput = () => {
            checkPwd();
        };
        
        emailInput.oninput = () => {
            console.log("changed!");
            checkEmail();
        };
        
        phoneNumInput.oninput = () => {
            console.log("changed!");
            checkPhoneNum();
        };

        function checkName() {
            let name = document.querySelector("#name").value;
            const invalid = document.querySelector(".name-invalid");

            if (!validNameCheck(name))
                invalid.classList.remove("d-none");
            else
                invalid.classList.add("d-none");
        }

        function checkPwd() {
            let pwd = document.querySelector("#pwd").value;
            const invalid = document.querySelector(".pwd-invalid");

            if (!validPawwsordCheck(pwd))
                invalid.classList.remove("d-none");
            else
                invalid.classList.add("d-none");
        }


        function checkLoginId() {
            let loginId = document.querySelector("#loginId").value;
            const request = new XMLHttpRequest();
            let type = "GET";
            let url = "/valid-loginId?loginId=" + loginId;
            const valid = document.querySelector(".id-valid");
            const invalid = document.querySelector(".id-invalid");
            const origin = document.querySelector(".id-origin");
            const exist = document.querySelector(".id-exist");


            request.onreadystatechange = () => {
                if (request.readyState != XMLHttpRequest.DONE)
                    return;
                let response = request.responseText;

                console.log(response);

                if (response == 1) {
                    if (loginId == [[${ memberForm.loginId }]]) {
                        valid.classList.add("d-none");
                        invalid.classList.add("d-none");
                        exist.classList.add("d-none");
                        origin.classList.remove("d-none");
                        return;
                    }
                    origin.classList.add("d-none");
                    valid.classList.add("d-none");
                    invalid.classList.add("d-none");
                    exist.classList.remove("d-none");
                }
                else if (!validIdCheck(loginId)) {
                    exist.classList.add("d-none");
                    valid.classList.add("d-none");
                    origin.classList.add("d-none");
                    invalid.classList.remove("d-none");
                }
                else {
                    exist.classList.add("d-none");
                    invalid.classList.add("d-none");
                    origin.classList.add("d-none");
                    valid.classList.remove("d-none");
                }

            }

            /* Post 방식으로 요청 */
            request.open(type, url);    // 요청 초기화
            request.send();
        }

        function checkEmail() {
            let email = document.querySelector("input[type=email]").value;
            const request = new XMLHttpRequest();
            let type = "GET";
            let url = "/valid-email?email=" + email;

            const valid = document.querySelector(".email-valid");
            const invalid = document.querySelector(".email-invalid");
            const origin = document.querySelector(".email-origin");
            const exist = document.querySelector(".email-exist");

            request.onreadystatechange = () => {
                if (request.readyState != XMLHttpRequest.DONE)
                    return;
                let response = request.responseText;

                console.log(response);

                if (response == 1) {
                    if (email == [[${ memberForm.email }]]) {
                        valid.classList.add("d-none");
                        invalid.classList.add("d-none");
                        exist.classList.add("d-none");
                        origin.classList.remove("d-none");
                        return;
                    }
                    origin.classList.add("d-none");
                    valid.classList.add("d-none");
                    invalid.classList.add("d-none");
                    exist.classList.remove("d-none");
                }
                else if (!validEmailCheck(email)) {
                    exist.classList.add("d-none");
                    valid.classList.add("d-none");
                    origin.classList.add("d-none");
                    invalid.classList.remove("d-none");
                }
                else {
                    exist.classList.add("d-none");
                    invalid.classList.add("d-none");
                    origin.classList.add("d-none");
                    valid.classList.remove("d-none");
                }


            }

            /* Post 방식으로 요청 */
            request.open(type, url);    // 요청 초기화
            request.send();
        }


        function checkPhoneNum() {
            let phone = document.querySelector("input[type=tel]").value;
            const request = new XMLHttpRequest();
            let type = "GET";
            let url = "/valid-phoneNum?phoneNum=" + phone;
            // let json = JSON.stringify(emailJson);

            const valid = document.querySelector(".phone-valid");
            const invalid = document.querySelector(".phone-invalid");
            const origin = document.querySelector(".phone-origin");
            const exist = document.querySelector(".phone-exist");

            request.onreadystatechange = () => {
                if (request.readyState != XMLHttpRequest.DONE)
                    return;
                let response = request.responseText;

                console.log(response);

                if (response == 1) {
                    if (phone == [[${ memberForm.phoneNum }]]) {
                        valid.classList.add("d-none");
                        invalid.classList.add("d-none");
                        exist.classList.add("d-none");
                        origin.classList.remove("d-none");
                        return;
                    }
                    origin.classList.add("d-none");
                    valid.classList.add("d-none");
                    invalid.classList.add("d-none");
                    exist.classList.remove("d-none");
                }
                else if (!validPhoneNumCheck(phone)) {
                    exist.classList.add("d-none");
                    valid.classList.add("d-none");
                    origin.classList.add("d-none");
                    invalid.classList.remove("d-none");
                }
                else {
                    exist.classList.add("d-none");
                    invalid.classList.add("d-none");
                    origin.classList.add("d-none");
                    valid.classList.remove("d-none");
                }
            }

            /* Post 방식으로 요청 */
            request.open(type, url);    // 요청 초기화
            request.send();
        }
/* ]]> */
    </script>
</div>

</html>