@charset "UTF-8";

/* -----------------------best-container ----------------------------*/
.best-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.best-container .best-container-header {
    display: flex;
    justify-content: space-between;
}

.best-container .best-list {
    display: flex;
    justify-content: space-between;
    margin-top: var(--layout-interval);
    width: 100%;
}

.best-container .best-list .list-element {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.best-container .best-list .list-element .title,
.best-container .best-list .list-element .writer {
    margin-top: 20px;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 250px;
}

.best-container .best-list .list-element .title {
    font-weight: bold;
}

.element-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -----------------------list-container ----------------------------*/

.search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box select {
    width: 100px;
    height: 30px;
}


/* -----------------------nav-category ----------------------------*/


.nav-category {
    margin-top: 50px;
}

.nav-category ul {
    width: 60%;
    display: flex;
    justify-content: space-around;
}


/* -----------------------list-box ----------------------------*/

.intro {
    margin-top: 50px;
}

.intro .text-strong {
    color: var(--color-warning);
    font-size: 20px;
    font-weight: bold;
}

.list-box {
    margin-top: 100px;
    min-width: 1000px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-content: center;
}


.list-box .list-element {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paging-box {
    display: flex;
    justify-content: center;

    margin-top: 100px;
}

/* -----------------------detail-container ----------------------------*/

.detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 230px;
}

.detail-container .detail-container-title {
    font-size: var(--text-title0);
    font-weight: bold;
    width: 100%;
    justify-self: flex-start;
}

.detail-container .detail-intro,
.detail-container .link-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.detail-container .link-box .detail-title {
    margin-top: 20px !important;
}

.detail-container .detail-intro .title-box {
    width: 100%;
}

.detail-container .detail-intro .detail-title {
    margin-top: 50px;
}

.detail-container .detail-intro p {
    margin-top: 50px;
}

.create-container .img-input-box .detail-title {
    margin-top: 0;
}

.create-container .img-input-box {
    width: 100%;
    display: flex;
    margin-top: 50px;
    align-items: center;
}
.detail-container .serving-info {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.detail-container .cooking-info {
    width: 50%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.detail-container .info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.checkbox-info {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.checkbox-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.category-select {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.detail-container .ingredients {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 70px;
}

.detail-container .cooking-order {
    display: flex;
    flex-direction: column;
    align-items: center;
     
    width: 100%;
    margin-top: 70px;
}

.detail-container .cooking-order .detail-sub-title {
    width: 100%;
}

.detail-container .cooking-order .order-box {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.detail-container .cooking-order .order-box img {
    margin-top: 30px;
}

.detail-container .selected-room-info {
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.writer-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.detail-container .price {
    margin-top: 50px !important;
}

.detail-container .edit-box {
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.detail-container .edits-box {
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


/* -----------------------create-container ----------------------------*/
.input-content {
    /* items layout */
    display: flex;
    flex-direction: column;

    /* layout */
    margin-top: 20px;

    /* content box style */
    padding: 20px;
    border-radius: var(--border-radius-3);
}

.input-content textarea {

    /* text */
    font-size: var(--text-content);
    font-family: var(--font-content);

    /* content box style */
    width: 100%;
    border: var(--border-weight-light) solid var(--color-border);
    border-radius: var(--border-radius-1);
    box-sizing: border-box;
    line-height: 1.47;
    padding: 13px 12px;
    margin-top: 30px;

    /* utils */
    resize: none;
}

    .input-content textarea::placeholder {
        /* text */
        font-size: var(--text-content);
        font-family: var(--font-content);
    }

    .input-content textarea:focus {
        /* text */
        font-family: var(--font-content);
    }

    .img-input-box {
        display: flex;
        justify-content: space-between;
    }

    .category-box select {
        width: 150px;
        height: 30px;
    }


    .add-form {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }


/* -----------------------input-container ----------------------------*/
.input-container {
    padding: 50px 320px;
}

.input-container .form-group {
    margin-top: 20px;
}

.input-container .edit-box {
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
}


/* -----------------------modal ----------------------------*/
.modal{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

}


/* ------ search-container ---------------- */

.search-container{
    /* layout */
    padding-top: 40px;
    display: flex;
}

.input-box{
    height: 50px;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-1);
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
}

.input-box:first-child{
    margin-top: 0;
}

.input-box span{
    width: 18px;
    height: 15px;
    background-size: inherit;
}

.input-box button{
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 20px;
    background-position: center right 8px;
}

.input-box input{

    border: none;
    padding-left: 10px;

    flex-grow: 1;
}

.search-container .btn-wrap{
    margin-left: 16px;
    width: 100px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------ recent-tag-container ---------------- */

.recent-tag-container{
    margin-top: 10px;
}

.recent-tag-container .btn-tag{
    padding-right: 24px;
    background-position: right;
    margin-left: 7px;
}

.recent-tag-container .btn-tag:first-child {
    margin: 0;
}


/* ------ filter-container ---------------- */

.filter-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}

.filter-container .sort-nav{
    display: flex;
    justify-content: flex-end;
}

.filter-container .sort-nav ul li::before{
    background-color: var(--color-strong);
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    content: '';
    margin-right: 6px;
    vertical-align: 3px;
}

.filter-container .sort-nav ul li:last-child{
    margin-left: 10px;
}


.input-title{
    display: flex;

    width: 100%;
    box-sizing: border-box;
    border: solid var(--border-weight-light) var(--color-border);
    border-radius: var(--border-radius-1);
    padding: var(--btn-p-v) var(--btn-p-h);

    font-size: var(--text-title2);
}



/* ---- comment-container ---------------------- */

.comment-container {
    /* items layout */
    display: flex;
    flex-direction: column;
    padding: 50px 180px;
}

.comment-container header {
    /* items layout */
    display: flex;
    align-items: center;
}

.comment-container header .comment-sum {
    /* text */
    color: var(--color-text);
    font-size: 16px;
    font-weight: bold;
    /* layout */
    margin-left: 10px;
}

    .comment-container>.input-content {
        /* items layout */
        display: flex;
        flex-direction: column;

        /* layout */
        margin-top: 20px;

        /* content box style */
        padding: 20px;
        border: var(--border-weight-light) solid var(--color-border);
        border-radius: var(--border-radius-3);
        background-color: #f4f6f9;
    }

    .comment-container>.input-content textarea {

        /* text */
        font-size: var(--text-content);
        font-family: var(--font-content);

        /* content box style */
        width: 100%;
        border: var(--border-weight-light) solid var(--color-border);
        border-radius: var(--border-radius-1);
        box-sizing: border-box;
        line-height: 1.47;
        padding: 13px 12px;

        /* utils */
        resize: none;
    }

        .comment-container .input-content textarea::placeholder {
            /* text */
            font-size: var(--text-content);
            font-family: var(--font-content);
        }

        .comment-container>.input-content textarea:focus {
            /* text */
            font-family: var(--font-content);
        }

        .comment-container .input-content input,
        .comment-container .input-content button {
            /* layout */
            align-self: flex-end;
            margin-top: 5px;
        }

    .comment-container .filter-container {
        /* content box style */
        padding-bottom: var(--item-interval-lr);
        border-bottom: var(--border-weight-light) solid var(--color-bg-gray);
    }

        .comment-container .filter-container .sort-nav ul {
            /* items layout */
            display: flex;
        }

        .comment-container .filter-container .sort-nav ul li {
            /* layout */
            margin: 0;
            margin-right: 10px;

            /* effect */
            cursor: pointer;
        }

    .comment-container .comment {
        /* content box style */
        border-bottom: var(--border-weight-light) solid var(--color-border);
        padding-bottom: 40px;

        /* layout */
        margin-top: 40px;
    }

    .comment-container .comment:last-child {
        /* content box style */
        border-bottom: none;
    }

        .comment-container .comment header {
            /* items layout */
            display: flex;
            align-items: center;

            /* layout */
            position: relative;
        }

        .comment-container .comment header h1 {
            /* layout */
            order: 1;
            margin-left: 10px;
        }

        .comment-container .comment p {
            /* layout */
            margin-top: 10px;

            /* text */
            line-height: 1.47;
            word-break: break-all;
        }

        .comment-container .comment .footer {
            /* items layout */
            display: flex;
            align-items: center;
            justify-content: space-between;

            /* layout */
            margin-top: 10px;
            position: relative;
        }

        .comment-container .comment .edit-content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .comment-container .comment .edit-content input[type="text"] {
            /* content box style */
            width: 80%;
            border: var(--border-weight-light) solid var(--color-border);
            border-radius: 15px;
            padding: 13px 12px;
            box-sizing: border-box;
        }

            .comment-container .comment .footer .btn-reply {
                /* text */
                color: var(--color-text);

                /* layout */
                margin-left: 10px;

                /* effect */
                cursor: pointer;
            }

            .comment-container .comment .footer .likes {
                /* text */
                font-size: var(--text-content);
                color: var(--color-text);
                /* layout */
                padding-left: 20px;
                display: inline-block;
                position: absolute;
                right: 10px;

                /* content box style */
                background: url("../image/icon/heart_blank.svg") no-repeat left center;
                background-size: 15px 15px;

                cursor: pointer;
            }

            .comment-container .comment .footer .likes:hover {
                /* content box style */
                background-image: url("../image/icon/heart_red.svg");

                /* text */
                color: #D83535;
            }

        .comment-container .comment .reply-of-comment-box {
            /* layout */
            margin-top: 30px;
        }

        .comment-container .comment .reply-of-comment-box .reply-of-comment {
            /* content box style */
            padding: 20px;
            /* border: var(--border-weight-light) solid var(--color-border); */
            border-radius: var(--border-radius-3);
            background-color: #f7f9fd;

            /* layout */
            position: relative;
        }

        .comment-container .comment .reply-of-comment-box .reply-comment-header {
            /* items layout */
            display: flex;
            align-items: center;
        }

        .comment-container .comment .reply-of-comment-box .reply-comment-header .profile-id {
            /* layout */
            margin-left: 10px;

            /* text */
            font-size: 16px;
            font-weight: bold;
        }


        .comment-container .comment .reply-of-comment-box .input-content {
            /* items layout */
            /* display: flex; */
            justify-content: space-between;
            align-items: center;

            /* layout */
            margin-top: 20px;
        }

        .comment-container .comment .reply-of-comment-box .input-content input[type="text"] {
            /* content box style */
            width: 100%;
            border: var(--border-weight-light) solid var(--color-border);
            border-radius: 15px;
            padding: 13px 12px;
            box-sizing: border-box;

            /* layout */
            margin-right: 10px;
            align-self: center;

            /* text */
            line-height: 1.47;
        }

            .comment-container .comment .reply-of-comment-box .edit-content input[type="text"]::placeholder {
                /* text */
                font-size: var(--text-content);
                font-family: var(--font-content);
            }

            .comment-container .comment .reply-of-comment-box .edit-content input[type="text"]:focus {
                /* text */
                font-family: var(--font-content);
            }

            .comment-container .more-comment {
                display: flex;
                justify-content: center;
                margin-top: 70px;
            }
