@charset "UTF-8";

/*--------------------------------header--------------------------------*/
.header {
    /* item-layout */
    display: flex;
    flex-direction: column;

    /* layout */
    /* position: fixed; */
}

.header-top{
    /* item-layout */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* layout */
    padding: 0 var(--layout-interval);
    
    /* content box style */
    width: 100%;
    height: var(--header-height);
    background-color: white;
    box-sizing: border-box;
    border-bottom: solid var(--border-weight-light) var(--color-border);
    /* z-index: 998; */
    box-shadow: 0 2px 6px rgba(175, 174, 174, 0.16);


    /* typography */
    font-family: 'S-CoreDream-3Light', sans-serif;
}

.header-top .login-member {
    position: relative;
    left: 300px;
    color: var(--color-text-emphasis);
    font-weight: bold;
}

.header-top div .header-title {
    margin-left: 100px;
}

.header-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* content box style */
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    background-color: var(--color-bg-pink);
}

.header-bottom nav ul {

    /* text */
    color: var(--color-text-emphasis);

    /* layout */
    padding: 0 var(--layout-interval);

     /* item-layout */
     display: flex;
     justify-content: space-evenly;
     align-items: center;
}

header .nav-menu div{
    cursor: pointer;
}

.main-title {
    font-size: var(--text-title0);
    font-weight: bold;
}

.fieldError {
    border-color: #bd2130;
    color: #dc3545;
}

footer {
    /* layout */
    position: relative;
    bottom: 0;

    /* item-layout */
    display: flex;

    /* content box style */
    width: 100%;
    height: 120px;
    background-color: var(--color-bg-pink);
    margin-top: 100px;
}

footer section {
    /* layout */
    padding-left: 70px;
}

footer section .copyright {
    color: var(--color-text-light);
}

/* 음식 이미지 */

.food-list-img {
    width: var(--image-list-size-w);
    height: var(--image-list-size-h);
    object-fit: cover;
}

.food-detail-img {
    /* width: var(--image-detail-size-w); */
    width: 100%;
    height: var(--image-detail-size-h);
    object-fit: cover;
}

/*
   로고
*/
/* .logo {
    width: var(--logo-width);
    height: var(--header-height);
    object-fit: cover;
} */

/*
    메인 메뉴 내비게이션
*/
.nav-menu{
    display: flex;
    justify-content: space-between;

    font-size: var(--text-title3);
}

/* 버튼 */
.btn-submit {
    background-color: transparent;
}

/*
    검색창
*/
.input-search{
    display: flex;
    align-items: center;

    box-sizing: border-box;
    padding-left: 2px;
    border: solid var(--border-weight-light) var(--color-border);
    border-radius: 3px;
    width: 40%;
}

.input-search .icon-search {
    /* margin-left: 4px; */
}

.input-search input{
    border-radius: var(--border-radius-1);
    padding: var(--btn-p-v) var(--btn-p-h);
}

/*
    인풋
*/
.detail-container .detail-input-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail-container .detail-title {
    margin-top: 0 !important;
}

.detail-container input {
    /* margin-left: 30px; */
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-1);
    padding: 10px;
}

.detail-container input[type="text"] {
    box-sizing: border-box;
    height: 45px;
    
    display: flex;
    align-items: center;
    padding-left: 10px;
    
    flex-grow: 1;
}

.detail-container input[type="file"] {
    /* height: 30px; */
    border: none;
    padding: 0px;
}

input:disabled {
    cursor: not-allowed;
}


/*
    로그인 내비
*/
.nav-login{
    display: flex;

    flex-shrink: 0;
}

.nav-login > div{
    margin-left: 8px;
}
/*-------------------------------main-------------------------------------*/
main {
    padding: var(--layout-interval-ud) var(--layout-interval);
    padding-top: var(--header-padding);
}

/* 디테일 페이지 제목 */
.detail-title {
    font-size: var(--text-title1);
}

.detail-sub-title {
    font-size: var(--text-title3);
    font-weight: bold;
}

.detail-content-title {
    font-size: var(--text-content);
}


/*-------------table --------------*/
table {
    width: 700px;
    border-spacing: 0 20px;
}


thead th, td {
    text-align: center;
}

table thead {
    margin-right: 20px;
    font-size: 17px;
    
}

table tbody {
    border-top: 1px solid rosybrown;
    font-size: 16px;
}

tbody tr {
    margin-bottom: 20px;
    vertical-align: center;
    height: 30px;
}




/* .learning-body{
    display: flex;
    justify-content: center;

    box-sizing: border-box;
}

.learning-body-nav {
    display: flex;
    flex-direction: column;

    width: 200px;
    padding: 0 var(--layout-interval);
}

.learning-body-nav .fixed-box {
    position: fixed;
    width: 200px;
}

.learning-body-nav h1{
    font-size: var(--text-content);
}

.learning-body-nav ul{
    margin: 20px 0;
}

.learning-body-nav li{
    font-size: var(--text-title2);
    margin : 0 0 15px 10px;
}

.learning-body-content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    min-width: var(--mobile-min-width);
    padding: 0 var(--layout-interval);
} */

