<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../css/reset.css" rel="stylesheet" type="text/css" />
    <link href="../../css/style.css" rel="stylesheet" type="text/css" />
    <link href="../../css/layout.css" rel="stylesheet" type="text/css" />
    <link href="../../css/component.css" rel="stylesheet" type="text/css" />
    <link href="../../css/buttons.css" rel="stylesheet" type="text/css" />
    <link href="../../css/utils.css" rel="stylesheet" type="text/css">
    <title>🍽 요리모여 - 레시피를 공유하고 함께 요리하는 공간</title>
</head>
<header class="header">
    <div class="header-top">
        <div class="d-flex align-items-center">
            <a class="header-title main-title" href="/">요리모여</a>
        </div>

        <nav class="nav-login">
            <div class="btn btn-strong">
                <a href="/recipes">레시피 등록</a>
            </div>
            <div class="btn btn-strong">
                <a href="/clubs">쿡스터디 등록</a>
            </div>
            <div class="btn btn-strong">
                <a href="/cooking-rooms/reservation">요리실 대여</a>
            </div>
            <div class="btn btn-default-color">
                <a href="/login">로그인</a>
            </div>

            <div class="btn btn-default-color">
                <a href="/members">회원가입</a>
            </div>
        </nav>
    </div>

    <div class="header-bottom">
        <nav>
            <ul class="d-flex">
                <li><a th:href="@{/recipes/list(categoryName='')}">레시피</a></li>
                <li><a th:href="@{/clubs/list(categoryName='')}">쿡스터디</a></li>
                <li><a href="/cooking-rooms/reservations">요리실</a></li>
                <li><a href="/mypage">마이페이지</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>

    <section class="recipe-best best-container">
        <div class="recipe-best-header best-container-header">
            <h1>Best 레시피</h1>
            <div class="btn btn-strong">
                <a href="/recipes/list">더보기</a>
            </div>
        </div>
        <section class="best-list">
            <div class="list-element" th:each="recipe : ${recipeList}">
                <a class="element-link" th:href="@{recipes/{param1}(param1=${recipe.recipeId})}">
                    <img class="food-list-img" th:src="|/recipes/images/${recipe.img.getStoreFileName()}|" alt="목록 이미지">
                    <span class="title" th:text="${recipe.title}">레시피 제목</span>
                </a>
            </div>
        </section>

    </section>

    <section class="cook_study-best best-container">
        <div class="cook_study-best-header best-container-header">
            <h1>Best 쿡스터디</h1>
            <div class="btn btn-strong">
                <a href="/clubs/list">더보기</a>
            </div>
        </div>
        <section class="best-list">
            <h1 class="d-none">best 쿡스터디 목록</h1>
            <div class="list-element" th:each="club : ${clubList}">
                <a class="element-link" th:href="@{clubs/{param1}/detail(param1=${club.clubId})}">
                    <span class="title" th:text="${club.name}">쿡스터디 제목</span>
                    <span class="writer" th:text="${club.memberLoginId}">작성자</span>
                </a>
            </div>
        </section>

    </section>
</main>
<div th:replace="inc/footer :: footer"></div>

</html>