<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../css/reset.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/style.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/layout.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/component.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/buttons.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/utils.css" rel="stylesheet" type="text/css">
    <title>요리모여</title>
</head>
<header class="header">
    <div class="header-top">
        <div class="d-flex align-items-center">
            <a class="header-title main-title" href="/">요리모여</a>
        </div>

        <div class="login-member" th:text="|${member.name}님|">로그인 회원 이름</div>

        <nav class="nav-login">

            <div class="btn btn-strong">
                <a href="/recipes">레시피 등록</a>
            </div>
            <div class="btn btn-strong">
                <a href="/clubs">쿡스터디 등록</a>
            </div>
            <div class="btn btn-strong">
                <a href="/cooking-rooms/reservation">요리실 대여</a>
            </div>
            <form th:action="@{/logout}" method="post">
                <div class="btn btn-default">
                    <input class="btn-submit" type="submit" value="로그아웃">
                </div>
            </form>
        </nav>
    </div>

    <div class="header-bottom">
        <nav>
            <ul class="d-flex">
                <li><a href="/recipes/list">레시피</a></li>
                <li><a href="/clubs/list">쿡스터디</a></li>
                <li><a href="/cooking-rooms/reservations">요리실</a></li>
                <li><a href="">마이페이지</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <section class="recipe-best best-container">
        <div class="recipe-best-header best-container-header">
            <h1>레시피</h1>
            <div class="btn btn-strong">
                <a href="/recipes/list">더보기</a>
            </div>
        </div>
        <section class="best-list">
            <h1 class="d-none">best 레시피 목록</h1>
            <div class="list-element">
                <a class="element-link" href="">
                    <img class="food-list-img" src="https://src.hidoc.co.kr/image/lib/2020/11/9/1604911318873_0.jpg"
                         alt="">
                    <span class="title">레시피 제목</span>
                </a>
            </div>
            <div class="list-element">
                <a class="element-link" href="">
                    <img class="food-list-img" src="https://src.hidoc.co.kr/image/lib/2020/11/9/1604911318873_0.jpg"
                         alt="">
                    <span class="title">레시피 제목</span>
                </a>
            </div>
            <div class="list-element">
                <a class="element-link" href="">
                    <img class="food-list-img" src="https://src.hidoc.co.kr/image/lib/2020/11/9/1604911318873_0.jpg"
                         alt="">
                    <span class="title">레시피 제목</span>
                </a>
            </div>
            <div class="list-element">
                <a class="element-link" href="">
                    <img class="food-list-img" src="https://src.hidoc.co.kr/image/lib/2020/11/9/1604911318873_0.jpg"
                         alt="">
                    <span class="title">레시피 제목</span>
                </a>
            </div>
        </section>

    </section>

    <section class="cook_study-best best-container">
        <div class="cook_study-best-header best-container-header">
            <h1>쿡스터디</h1>
            <div class="btn btn-strong">
                <a href="/clubs/list">더보기</a>
            </div>
        </div>
        <section class="best-list">
            <h1 class="d-none">best 쿡스터디 목록</h1>
            <div class="list-element">
                <a class="element-link" href="">
                    <img class="food-list-img" src="https://src.hidoc.co.kr/image/lib/2020/11/9/1604911318873_0.jpg"
                         alt="">
                    <span class="title">쿡스터디 제목</span>
                </a>
            </div>
            <div class="list-element">
                <a class="element-link" href="">
                    <img class="food-list-img" src="https://src.hidoc.co.kr/image/lib/2020/11/9/1604911318873_0.jpg"
                         alt="">
                    <span class="title">쿡스터디 제목</span>
                </a>
            </div>
            <div class="list-element">
                <a class="element-link" href="">
                    <img class="food-list-img" src="https://src.hidoc.co.kr/image/lib/2020/11/9/1604911318873_0.jpg"
                         alt="">
                    <span class="title">쿡스터디 제목</span>
                </a>
            </div>
            <div class="list-element">
                <a class="element-link" href="">
                    <img class="food-list-img" src="https://src.hidoc.co.kr/image/lib/2020/11/9/1604911318873_0.jpg"
                         alt="">
                    <span class="title">쿡스터디 제목</span>
                </a>
            </div>
        </section>

    </section>
</main>
<script th:inline="javascript" layout:fragment="script">
/* <![CDATA[ */
    window.onload = () => {

        let message = [[${ msg }]];
        let url = [[${ url }]];

        if (message == null)
            return;
        else
            alert(message);

        if(url == null)
            return;
        else
            location.href = url;
    }
    /* ]]> */

</script>
<div th:replace="inc/footer :: footer"></div>


</html>